<section class="saludo col-xl-5 col-md-10 ms-sm-auto me-sm-auto col-sm-9 d-flex flex-column mt-10">
  <h5 class="green sldo-text">Hello there!</h5>
  <h1 class="white sldo-text">I'm Ludmila Wagner. </h1>
  <h1 class="purple sldo-text">I'm a Graphic Designer and a Full Stack Developer.</h1>
  <p class="purple sldo-text">Let's keep in touch!</p>
  <div class="buttons">
      <button class="btn btn-primary contact-btn ">Contact me</button>
      <button class="btn btn-outline-primary work-btn ">Check my work</button>
  </div>
</section>
