<section  class="about-me m-auto mt-10">
  <div id="about"></div>
  <h3 class="green text-center mb-4 mt-5 section-title">About me</h3>
  <div class="container row d-flex m-auto">
      <div class="about container d-flex flex-column col-10  col-lg-6 col justify-content-center col-5">
          <img class="col-7 align-self-center avatar" src="../assets/img/avatar.png" alt="">
          <p class="purple mt-5 description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus sit amet dictum sit.
Commodo sed egestas egestas fringilla phasellus. Adipiscing diam donec adipiscing tristique risus.
Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Dictum varius duis at consectetur.

              </p>
      </div>
      <div class="skills container row col-5 col-10 col-lg-5 ms-auto me-auto mt-5">

        <app-skills></app-skills>


      </div>

  </div>


</section>
