<section  class="about-me m-auto mt-10">
  <div id="about"></div>
  <h3 class="green text-center mb-4 mt-5 section-title">About me</h3>
  <button type="button" class="btn btn-primary" routerLink="/editabout/1" *ngIf="isLogged">
    Editar
  </button>
  <div class="container row d-flex m-auto">
      <div class="about container d-flex flex-column col-10  col-lg-6 col justify-content-center col-5">
          <img class="col-7 align-self-center avatar" src="{{persona?.img}}" alt="">
          <p class="purple mt-5 description">
            {{persona?.nombre}} {{persona?.apellido}}
            <br>
           {{persona?.descripcion}}


              </p>
      </div>
      <div class="skills container row col-5 col-10 col-lg-5 ms-auto me-auto mt-5">

        <app-skill></app-skill>


      </div>

  </div>


</section>
