<h3 class="green">Skills</h3>
          <div class="list col-12 justify-content-center container row mt-3">
              <div class="list-l justify-content-center row col-6 align-self-start">
                  <p class="purple text-center">SOFTWARE</p>
                               <div class="icons col-3 ">
                                      <img src="../assets/img/png/html-5-logotype.png" alt="">
                                      <img src="../assets/img/png/css-3.png" alt="">
                                      <img src="../assets/img/png/js.png" alt="">
                                      <img src="../assets/img/png/typescript.png" alt="">
                                      <img src="../assets/img/png/node-js.png" alt="">
                                      <img src="../assets/img/png/bootstrap.png" alt="">
                                      <img src="../assets/img/png/git.png" alt="">

                              </div>
                              <div class="name purple col-6">
                                  <p>HTML 5</p>
                                  <p>CSS 3</p>
                                  <p>Javascript</p>
                                  <p>Typescript</p>
                                  <p>Node.js</p>
                                  <p>Bootstrap</p>
                                  <p>Git</p>
                              </div>
               </div>
              <div class="list-r justify-content-sm-center row col-6 ">
                  <div class="data col-12 row align-self-start">
                      <p class="purple">DATABASE</p>

                  <div class="icons col-3">
                      <img src="../assets/img/png/mysql.png" alt="">
                      <img src="../assets/img/png/rubik.png" alt="">
              </div>
              <div class="name purple col-6">
                  <p>MySQL</p>
                  <p>Sequelize</p>
              </div>

          </div>
          <div class="data col-12 row align-self-start">
              <p class="purple">FRAMEWORKS</p>

          <div class="icons col-3">
              <img src="../assets/" alt="">
              <img src="../assets/img/png/angular.png" alt="">
      </div>
      <div class="name purple col-6">
          <p>React</p>
          <p>Angular</p>
      </div>

  </div>
  <div class="data col-12 row align-self-start">
      <p class="purple">METHODOLOGY</p>

  <div class="icons col-3">
      <img src="../assets/img/png/agile.png" alt="">

</div>
<div class="name purple col-6">
  <p>Scrum</p>

</div>

</div>


</div>
          </div>

