<section  class="education container  mt-10 ">
  <div id="education"></div>
  <h3 class="green text-center section-title">Education</h3>
  <div class="container d-flex flex-column mt-5" style="width: 60rem">
      <div class="school align-items-center container col row">
<div class="col-3 col-lg-2 img-logo">
  <img class="col-sm-10" src="../assets/img/arg-programa.png" alt="argentina-programa-logo">
</div>
<div class="col-7 col-sm-6 title">
  <h6 class="purple">AGENTINA PROGRAMA</h6>
  <p class="purple">Cursos de desarrollo web #SéProgramar - #YoProgramo</p>
</div>
<div class="col year">
  <p class="purple">2022</p>
</div>
      </div>
            <div class="school container align-items-center col row mt-1">
                      <div class="col-3 col-lg-2 img-logo">
                          <img class="col-sm-10" src="../assets/img/dh.png" alt="digital-house-logo">
                      </div>
                      <div class="col-7 col-sm-6 title">
                          <h6 class="purple">DIGITAL HOUSE - Coding School</h6>
                          <p class="purple">Full Stack Developer</p>
                      </div>
                      <div class="col year">
                          <p class="purple">2022</p>
                      </div>
                              </div>
                              <div class="school container align-items-center  col row mt-2">
                                  <div class="col-3 col-lg-2 img-logo">
                                      <img class="col-sm-10" src="../assets/img/isp2.jpg" alt="isp2-logo">
                                  </div>
                                  <div class="col-7 col-sm-6 title">
                                      <h6 class="purple">ISP N°2 - J. V. GONZALEZ</h6>
                                      <p class="purple">Profesorado en Lengua y Literatura.</p>
                                  </div>
                                  <div class="col year">
                                      <p class="purple">2016-2021</p>
                                  </div>
                                          </div>
                                          <div class="school align-items-center  container col row mt-2">
                                              <div class="col-3 col-lg-2 img-logo">
                                                  <img class="col-sm-10" src="../assets/img/iac.png" alt="iac-logo">
                                              </div>
                                              <div class="col-7 col-sm-6 title">
                                                  <h6 class="purple">IAC - Instituto Arg. de Computación</h6>
                                                  <p class="purple">Diseño gráfico</p>
                                              </div>
                                              <div class="col year">
                                                  <p class="purple">2009</p>
                                              </div>
                                                      </div>

  </div>

</section>
